.color {
  position: relative;
  font-family: 'Yiggivoo Unicode', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 125%;
  z-index: 2;
  margin-bottom: 18px;
}

.color::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 11%;
  width: 289px;
  height: 32px; 
  background-image: url('../../assets/images/yellow_ribbon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
  z-index: -1;
}

.mood {
  position: relative;
  font-family: 'Yiggivoo Unicode', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 125%;
  z-index: 2;
  margin-bottom: 18px;
}

.mood::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -6%; 
  width: 432px;
  height: 50px; 
  background-image: url('../../assets/images/lavender_ribbon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
  z-index: -1; 
}