.color {
  position: relative;
  font-family: 'Yiggivoo Unicode', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 125%;
  z-index: 2;
  margin-bottom: 18px;
}

.color::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 11%;
  width: 289px;
  height: 32px; 
  background-image: url('../../assets/images/yellow_ribbon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
  z-index: -1;
}

.mood {
  position: relative;
  font-family: 'Yiggivoo Unicode', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 125%;
  z-index: 2;
  margin-bottom: 16px;
}

.mood::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -6%; 
  width: 432px;
  height: 50px; 
  background-image: url('../../assets/images/lavender_ribbon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
  z-index: -1; 
}

.formWrapper {
  position: relative;
}

/* Размытие под заметкой */
.blurOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.15);
  z-index: 5;
}