.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 0 10px;
  color: #000;
  font-family: "Yiggivoo Unicode", sans-serif;
}

.row {
  display: flex;
  gap: 22px;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  width: 57px;
}

.dateContainer::after {
content: "";
  position: absolute;          
  left: 82px;           
  width: 1px;
  height: 47%;         /* растягивается на родителя с position: relative */
  background-color: #000;
}

.date {
  color: #000;
  font-family: "Yiggivoo Unicode", sans-serif;
  font-size: 25px;
  line-height: 125%;
  text-align: center;
}

.time {
  color: #000;
  font-family: "Open Sans Light", sans-serif;
  font-size: 15px;
  text-align: right;
}

.moodTextLetter {
  display: flex;
  align-items: center;
  gap: 4px;
}

.moodIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.note {
  font-family: "Open Sans Light", sans-serif;
  font-size: 15px;
  line-height: 136%;
  text-align: left; 
  padding: 5px;
}

.noteContainer {
  border-radius: 8px;
  width: 264px;
  min-height: 60px;
}
