.wrapper {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 380px;
  z-index: 10; /* поверх блюра */
  background: white;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.headerRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.colorPreview {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.moodIcon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1rem;
  color: #555;
}

.textarea {
  padding: 0.75rem 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  resize: none;
  min-height: 110px;
  font-size: 1rem;
  background: white;
}