.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* центрируем по экрану */
  background-color: #f5f5f5; /* цвет страницы вокруг блока */
}

.moodBackground {
  width: 515px;
  height: 708px;
  border-radius: 50px; /* полностью закругленные края */
  background-color: #ECEDE7;

  /* сетка */
  background-image:
    linear-gradient(to right, #E2E3DB 1px, transparent 1px),
    linear-gradient(to bottom, #E2E3DB 1px, transparent 1px);
  background-size: 26px 26px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}