.hint {
  position: absolute;
  top: 120px; /* чуть ниже заголовка */
   /* вынос за пределы журнала */

  width: 220px;
  padding: 16px;

  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);

  font-size: 15px;
  line-height: 1.4;

  animation: fadeIn 0.1s ease;

  z-index: 30; /* ВЫШЕ чем модалка */
}

/* Цвет дня */
.step0 {
  top: 86px;;
  right: -295px;
}

/* Настроение */
.step1 {
  top: 321px;
  right: -295px;
}

/* Заметка — поверх модалки */
.step2 {
  position: fixed; 
  top: 39%;
  left: 50%;
  transform: translate(-50%, -140%);
}