.container {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.button {
  width: 102px;
  height: 102px;  
  border-radius: 50%; 
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
}
.buttonSelected {
  border-color: #000000;
}

.moodImg {
  width: 99%; 
  height: auto;
}