.listContainer {
  position: relative;
  width: 411px;
  height: 267px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 35px 0 ;
  background-color: #D5DACC;
  border-radius: 50px 0 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: auto;

    /* Скроллбар стили */
  scrollbar-width: thin;       /* для Firefox */
  scrollbar-color: #ecede7  #D5DACC; /* для Firefox */
};

/* Для Webkit-браузеров (Chrome, Edge, Safari) */
.listContainer::-webkit-scrollbar {
  width: 8px;
}

.listContainer::-webkit-scrollbar-track {
  background: #D5DACC;
  border-radius: 4px;
}

.listContainer::-webkit-scrollbar-thumb {
  background-color: #6B6B6B;
  border-radius: 4px;
  border: 2px solid #D5DACC; /* чтобы был отступ вокруг скролла */
}

.listContainer::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}