.listContainer {
  position: relative;
  width: 411px;
  height: 267px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 35px 0 ;
  background-color: #D5DACC;
  border-radius: 50px 0 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: auto;

  /* скролл */
  scrollbar-width: thin;
  scrollbar-color: #ecede7  #D5DACC;
};

.listContainer::-webkit-scrollbar {
  width: 8px;
}

.listContainer::-webkit-scrollbar-track {
  background: #D5DACC;
  border-radius: 4px;
}

.listContainer::-webkit-scrollbar-thumb {
  background-color: #6B6B6B;
  border-radius: 4px;
  border: 2px solid #D5DACC;
}