.listContainer {
  position: relative;
  width: 411px;
  height: 267px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 35px 0 ;
  background-color: #D5DACC;
  border-radius: 50px 0 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: auto;
};
