.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

.colors {
  display: flex;
  gap: 9px; 
  justify-content: center;
}

.colorButton {
  width: 55px; 
  height: 55px; 
  border-radius: 50%; 
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.2s;
}

.colorButtonSelected {
  border-color: black;
}