/* глобальные стили всего проекта */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
  color: #000;
}

* {
  box-sizing: border-box;
}